    
 <div id="subdivision1content" style="text-align:left;height:700px;width:200px;float:left;">
<b>Choose a Cause to Donate<b>
<ul id="verticalmenu" class="glossymenu">
     <li><%= link_to "Children", children_homes_path %>
          <ul id="verticalmenu" class="glossymenu">
                     <li><%= link_to "Services", service_homes_path %></li>
                     <li><%= link_to "Care", care_homes_path %></li>
                     <li><%= link_to "Clothes", cloth_homes_path %></li>
                     <li><%= link_to "Books", book_homes_path %></li>
	                 <li><%= link_to "Stationery", stationery_homes_path %></li>
                     <li><%= link_to "Medicines", medicine_homes_path %></li>
                     <li><%= link_to "Toys", toy_homes_path %></li>
		 </ul>
    </li>
    <li><%= link_to "Youth", youth_homes_path %>
         <ul id="verticalmenu" class="glossymenu">
        			 <li><%= link_to "Services", service_homes_path %></li>
        			 <li><%= link_to "Books", book_homes_path %></li>
					 <li><%= link_to "Mechanical Toolkit", mechanical_toolkit_homes_path %></li>
					 <li><%= link_to "Money", money_homes_path %></li>
					 <li><%= link_to "Stationery", stationery_homes_path %></li>
					 <li><%= link_to "Vehicle", vehicle_homes_path %></li>
					 <li><%= link_to "Computers", computer_homes_path %></li>
		 </ul>

    </li>
    <li><%= link_to "Disabled", disabled_homes_path %>
         <ul id="verticalmenu" class="glossymenu">
        			 <li><%= link_to "Services", service_homes_path %></li>
        			 <li><%= link_to "Money", money_homes_path %></li>
					 <li><%= link_to "Mechanical Toolkit", mechanical_toolkit_homes_path %></li>
					 <li><%= link_to "Clothes", cloth_homes_path %></li>
					 <li><%= link_to "Stationery", stationery_homes_path %></li>
					 <li><%= link_to "Vehicle", vehicle_homes_path %></li>
		 </ul>
    </li>
    <li><%= link_to "Elderly", elderly_homes_path %>
         <ul id="verticalmenu" class="glossymenu">
        			 <li><%= link_to "Services", service_homes_path %></li>
        			 <li><%= link_to "Raw Food", raw_food_homes_path %></li>
					 <li><%= link_to "Medicines", medicine_homes_path %></li>
					 <li><%= link_to "Money", money_homes_path %></li>
					 <li><%= link_to "Clothes", cloth_homes_path %></li>
		 </ul>
    </li>
    <li><%= link_to "Women", women_homes_path %>
         <ul id="verticalmenu" class="glossymenu">
        			 <li><%= link_to "Services", service_homes_path %></li>
        			 <li><%= link_to "Raw Food", raw_food_homes_path %></li>
					 <li><%= link_to "Clothes", cloth_homes_path %></li>
					 <li><%= link_to "Books", book_homes_path %></li>
					 <li><%= link_to "Stationery", stationery_homes_path %></li>
					 <li><%= link_to "Medicines", medicine_homes_path %></li>
					 <li><%= link_to "Stitching Machine", stitching_machine_homes_path %></li>
					 <li><%= link_to "Computers", computer_homes_path %></li>
		 </ul>
    </li>
    <li><%= link_to "Health", women_homes_path %>
         <ul id="verticalmenu" class="glossymenu">
        			 <li><%= link_to "Services", service_homes_path %></li>
        			 <li><%= link_to "Raw Food", raw_food_homes_path %></li>
					 <li><%= link_to "Clothes", cloth_homes_path %></li>
					 <li><%= link_to "Beds", bed_homes_path %></li>
					 <li><%= link_to "Medical Equipments", medical_equipment_homes_path %></li>
					 <li><%= link_to "Medicines", medicine_homes_path %></li>
					 <li><%= link_to "Bedsheets", bedsheet_homes_path %></li>
					 <li><%= link_to "Computers", computer_homes_path %></li>
		 </ul>
    </li>
    <li><%= link_to "Care", care_homes_path %>
         <ul id="verticalmenu" class="glossymenu">
        			 <li><%= link_to "Services", service_homes_path %></li>
        			 <li><%= link_to "Raw Food", raw_food_homes_path %></li>
					 <li><%= link_to "Clothes", cloth_homes_path %></li>
					 <li><%= link_to "Books", book_homes_path %></li>
					 <li><%= link_to "Stationery", stationery_homes_path %></li>
					 <li><%= link_to "Medicines", medicine_homes_path %></li>
		 </ul>
    </li>
    <li><%= link_to "Education", education_homes_path %>
         <ul id="verticalmenu" class="glossymenu">
        			 <li><%= link_to "Services", service_homes_path %></li>
					 <li><%= link_to "Books", book_homes_path %></li>
					 <li><%= link_to "Stationery", stationery_homes_path %></li>
					 <li><%= link_to "Medicines", medicine_homes_path %></li>
					 <li><%= link_to "Computers", computer_homes_path %></li>
		 </ul>
    </li>
    <li><%= link_to "Employment", employment_homes_path %>
         <ul id="verticalmenu" class="glossymenu">
        			 <li><%= link_to "Services", service_homes_path %></li>
					 <li><%= link_to "Books", book_homes_path %></li>
					 <li><%= link_to "Stationery", stationery_homes_path %></li>
					 <li><%= link_to "Medicines", medicine_homes_path %></li>
					 <li><%= link_to "Computers", computer_homes_path %></li>
					 <li><%= link_to "Mechanical Toolkit", mechanical_toolkit_homes_path %></li>
         </ul>
    </li>
 </ul>
</div>   

<div id="subdivision2content" style="text-align:left;height:700px;width:600px;float:left;" name="subdivision2">
<div id="carousel" height="450" width="550">
	
	<div id="slides" height="280" > 
		<ul>
			<li><img src="images/RSS.jpg" width="550" height="280" alt="Slide 1" /><caption>Organi</caption></li>
			<li><img src="images/gaurav.png" width="550" height="280" alt="Slide 2"/></li>
			<li><img src="images/HelpAgeIndia.preview.jpg" width="550" height="280" alt="Slide 3"/></li>
            <li><img src="images/disha.jpg" width="550" height="280" alt="Slide 4"/></li>
		</ul>
		<div class="clear"></div>
	</div>
        <div id="buttons" height="100">
		     <a href="#" id="prev">Previous</a>
			 <a href="#" id="next">Next</a>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
</div>
<div id="subdivision2content2" style="text-align:left;height:250px;width:550px;float:left;" name="subdivision2">
<div id="Updates" style="height:200px;width:120px;float:left; color:black;">   
   <ul>
       <li> update1</li>
       <li> update2</li>
       <li> update3</li>
       <li> update4</li>
   </ul>    
      
</div>
          
<div id="Summary" style="height:200px;width:430px;float:left;color:black;">
        Contribute For A Cause
   
       <article>
       
           A donation is a gift given by physical or legal persons, typically for charitable    purposes and/or to benefit a cause. A donation may take various forms, including cash, services, new or used goods       including    clothing, toys, food, and vehicles. It also may consist of emergency, relief or humanitarian aid items, development aid    support, and can also relate to medical care needs as i.e. blood or organs for transplant. Charitable gifts of goods or    services are also called gifts in kind.   
       This platform provides a mean to connect donator to needy people in a    broad    area.   
       
          </article>
</div>

</div>
</div>

<div id="subdivision3content" style="text-align:left;height:700px;width:200px;float:left;">   

<form>
<pre>
Login Form:
User name: <input type="text" value="" size="10" id=""/>

Password: <input type="password" value="" size="10" id=""/>

<input type="submit" value="Sign In" size="10" id=""/>     <input type="reset" value="Clear" size="10" id=""/>

<a href="forgot.html">forgot your password</a>

<%= link_to "New Doner? Sign Up", doner_registration_form_homes_path %>
<%= link_to "New Prakalp? Sign Up", donnie_registration_form_homes_path %>
</pre>
</form>

<form>
<pre>
Enquiry Form:

Name: 
<input type="text" value="" size="20" id="1"/>

Email Id:  
<input type="email" size="20" maxlength="10" id="2"/>

Subject:
<input type="text" size="20" id="3"/>

Category: 
<select id="4">
<option> doner</option>
<option> doniee</option>
</select>

Query: 
<input type="text" size="20" id="5"/>
</pre>
</form>														
<div class='spread'>
  <div class='twshare left'>
    <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="funonrails">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
  </div>
  <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like href="" layout="button_count" show_faces="false" width="450" font=""></fb:like>
</div>

</div>

<div id="division4ads" style="text-align:left;height:200px;width:1000px;">
    
   <div id="Ad1" style="background-color:dimgray;height:200px;width:300px;float:left;">Advertisement 1
   <img src="C:\Documents and Settings\user\My Documents\My Pictures\image3.png" height="200" width="300"/>
   </div>
   <div id="Ad2" style="background-color:thistle;height:200px;width:400px;float:left;">Advertisement 2
   <img src="C:\Documents and Settings\user\My Documents\My Pictures\image2.jpg" height="190" width="400"/></div>
   <div id="Ad3" style="background-color:rosybrown;height:200px;width:300px;float:left;">Advertisement 3
   <img src="C:\Documents and Settings\user\My Documents\My Pictures\image4.jpg" height="190" width="300"/></div>
    
</div> 

<div id="division5footer" style="text-align:left;height:40px;width:1000px;">
copyright@2011DonatetoPeople.org. All Rights Reserved <a href="disclaimer"> Disclaimer</a> <a href="sitemap"> Sitemap</a>
</div> 

